<div ng-controller="ProfilePostController as PROPController">
    <div class="row">
        <br>
        <div class="col-lg-12">
            <div class="well well">
                <h2>Your Profile </h2>  
                <p>A man travels the world over in search of what he needs and returns home to find it.</p>
            </div>
            <form class="form-horizontal" name="form" role="form">    
                <div style="background: whitesmoke;border-radius: 10px; border: 2px solid grey;padding: 8px;">                    
                    <label class="control-label col-sm-3" for="name">Full Name:</label>
                    <div class="col-sm-9">
                        <label for="name">{{PROPController.Nname}}iiiii</label>                          
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>