<div ng-controller="PartnerHomeController as PHController" class="container-home">
    <div class="container-subhome">
        <div class="toppane">
            <div class="container-fluid center" style="background-color:#2156F3;color:#fff;height:110px;">                
                <h3>Let's go to Off-Road or On-Road</h3>
                <p>Some beautiful paths can't be discovered without getting lost.</p>
                <p>The high road of grace will get you somewhere a whole lot faster then the freeway of spite.</p>
            </div>
        </div>
        <div class="leftpane">
            <div class = "center">
                <br>
                <img src="{{PHController.uploadURL}}{{PHController.loginUserInfo.image}}"
                class="img-circle profile-home" alt="Cinque Terre" width="55%" height="55%">
                <h3><b>{{PHController.loginUserInfo.firstname}} {{PHController.loginUserInfo.lastname}}</b></h3>
                <div class="col-md-12 center">
                    <ul class="nav nav-pills nav-stacked">
                        <li ><a href="#">Profile</a></li>
                        <li><a href="#">Edit</a></li>
                        <li ng-class="{ active: isActive('/client/home/yourPost')}"><a ui-sref="client.home.yourPost">Your Posts</a></li>
                        <li ng-class="{ active: isActive('/client/home/findPost')}"><a ui-sref="client.home.findPost">Find Posts</a></li>
                        <li ng-class="{ active: isActive('/client/home/newPost')}"><a ui-sref="client.home.newPost">Add Posts</a></li>
                        <li ng-class="{ active: isActive('/client/home/updatePost')}"><a ui-sref="client.home.updatePost">Update Posts</a></li>
                        <hr width="80%">
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Invitations</a></li>
                        <li><a href="#">Follower</a></li>
                        <li><a href="#">Follows</a></li>
                        <hr width="80%">
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Chat</a></li>
                        <li><a href="#">Video Chat</a></li>
                        <hr width="80%">
                        <li><a href="#">Trips</a></li>
                        <li><a href="#">Track</a></li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="middlepane">
			<div ui-view></div>
        </div>
        <div class="rightpane">
            <div class="container-body">
                <h4><b>Recent Chat</b></h4>
                <div class="container-body">
                    <h4><img ng-src="{{PHController.logoURL}}online.png" width="10"/> Amit Kumar</h4>
                    <h4><img ng-src="{{PHController.logoURL}}online.png" width="10"/> Sumit Singh</h4>
                    <h4><img ng-src="{{PHController.logoURL}}online.png" width="10"/> Aman Prakash</h4>
                    <h4><img ng-src="{{PHController.logoURL}}online.png" width="10"/> Zack</h4>
                    <h4><img ng-src="{{PHController.logoURL}}online.png" width="10"/> John</h4>
                    <h4><img ng-src="{{PHController.logoURL}}offline.png" width="10"/> Adam</h4>
                    <h4><img ng-src="{{PHController.logoURL}}offline.png" width="10"/> Ammy</h4>
                </div>    
            </div>
        </div>
    </div>
</div>