<div ng-controller="PartnerHomeController as PHController" class="container-home">
    <div class="container-subhome">
        <div class="toppane">
            <h1>Heading</h1>
        </div>
        <div class="leftpane">
            <div class = "center">
                <br>
                <img src="http://www.thefamouspeople.com/profiles/images/robert-downey-jr--2.jpg"
                class="img-circle profile-home" alt="Cinque Terre" width="55%" height="55%">
                <h4>Himanshu Nath</h4>
                <div class="col-md-6 col-md-offset-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Edit</a></li>
                        <hr width="80%">
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Invitations</a></li>
                        <li><a href="#">Follower</a></li>
                        <li><a href="#">Follows</a></li>
                        <hr width="80%">
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Chat</a></li>
                        <hr width="80%">
                        <li><a href="#">Trips</a></li>
                        <li><a href="#">Track</a></li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="middlepane">
            <h1>Center Page</h1>
        </div>
        <div class="rightpane">
            <h1>Right Page</h1>
        </div>
    </div>
</div>