<div ng-controller="PartnerHomeController as PHController" class="container-home">
    <div class="container-subhome">
        <div class="toppane">
            <h1>Heading</h1>
        </div>
        <div class="leftpane">
            <div class = "center">
                <br>
                <img src="http://www.thefamouspeople.com/profiles/images/robert-downey-jr--2.jpg"
                class="img-circle profile-home" alt="Cinque Terre" width="55%" height="55%">
                <h4>Himanshu Nath</h4>
                <div class="col-md-6 col-md-offset-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Your Posts</a></li>
                        <hr width="80%">
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Invitations</a></li>
                        <li><a href="#">Follower</a></li>
                        <li><a href="#">Follows</a></li>
                        <hr width="80%">
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Chat</a></li>
                        <li><a href="#">Video Chat</a></li>
                        <hr width="80%">
                        <li><a href="#">Trips</a></li>
                        <li><a href="#">Track</a></li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="middlepane">
            <div class="panel panel-default" style="margin: 5px;">
                <div class="panel-heading">Share your thought of the Day</div>
                <div class="panel-body">
                    <div class="container-body">
                        <div class="form-group"><br>
                            <textarea class="form-control" rows="2" id="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary col-sm-3" style="float: right; margin: 5px">Submit</button>
                    </div>                        
                </div>
            </div>
            <div class="container-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="list-group">
							<div class="center bottommargin">								
									<a class="list-group-item"> 
                                        <div style="float: left;">
                                            <img src="http://www.thefamouspeople.com/profiles/images/robert-downey-jr--2.jpg" 
                                            width="50"/> Himanshu Nath
                                        </div> 
                                        <span class="badge">12</span>
                                        <br>
                                        <br>
                                        <br>
                                        <p>Hello User I am Himanshu Nath</p>
                                    </a>
                                    <a class="list-group-item"> <img
										src="http://www.thefamouspeople.com/profiles/images/robert-downey-jr--2.jpg" width="50"/>
								     Himanshu Nath <span class="badge">12</span>
                                    <p>Hello User I am Himanshu Nath</p>
                                    </a>
                                    <a class="list-group-item"> <img
										src="http://www.thefamouspeople.com/profiles/images/robert-downey-jr--2.jpg" width="50"/>
								     Himanshu Nath <span class="badge">12</span>
                                    <p>Hello User I am Himanshu Nath</p>
                                    </a>								
							</div>                     
					</div>
				</div>
			</div>
		</div>
        </div>
    </div>
    <div class="rightpane">
        <h1>Right Page</h1>
    </div>
</div>
