<div ng-controller="ForgotPasswordController as FPController">
    <div class="col-md-6 col-md-offset-3">
    <h2>Forgot Password</h2>
        <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="By Email">
                <form name="emaiForm" role="form">                    
                    <div class="form-group" ng-class="{ 'has-error': emaiForm.email.$dirty && emaiForm.email.$error.required }">
                        <label for="username">Email</label>
                        <input type="text" name="email" id="email" class="form-control" ng-model="FPController.user.email" required />
                        <span ng-show="emaiForm.email.$dirty && emaiForm.email.$error.required" class="help-block">Email is required</span>
                    </div>                    
                    <div class="form-actions">
                        <button type="submit" ng-click="FPController.forgotPasswordByMail()"  ng-disabled="emaiForm.$invalid || FPController.dataLoading" class="btn btn-primary">Send Mail</button>
                        <img ng-if="LController.dataLoading" src="assets/images/loader.gif"/>
                        <a href="#!/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="1" heading="By Questions">
                <form name="form" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="FPController.user.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>                    
                    <div class="form-group" ng-class="{ 'has-error': form.question.$dirty && form.question.$error.required }">
                        <label for="username">Question</label>
                        <select name="question" id="question"
                                    class="form-control"
                                    class="btn btn-default dropdown-toggle"
                                    ng-options="question for question in FPController.questionList"
                                    ng-model="FPController.user.question" required>
                                    <option value="" disabled>Please Select Any Question</option>
                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.answer.$dirty && form.answer.$error.required }">
                        <label for="username">Answer</label>
                        <input type="text" name="answer" id="answer" class="form-control" ng-model="FPController.user.answer" required />
                        <span ng-show="form.answer.$dirty && form.answer.$error.required" class="help-block">Answer is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-click="FPController.forgotPasswordByQuestions()" ng-disabled="form.$invalid || FPController.dataLoading" class="btn btn-primary">Get Password</button>
                        <img ng-if="LController.dataLoading" src="assets/images/loader.gif"/>
                        <a href="#!/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </uib-tab>            
        </uib-tabset>
        </form>    
    </br>
    </br>
</div>
</div>