<div ng-if="terms != null">
	<a ng-model="test" ng-click="addComment()">
		Comment
	</a>
</div>

<script type="text/ng-template" id="comment.html">
	<div class="modal-header">
		<h3 class="modal-title">Make Comment</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 form-group">
				<input class="form-control"  ng-model="CController.comment.text" placeholder="Comment"/>
			</div>			
		</div>
	</div>
	<div class="modal-footer">
		<button class="button button-3d button-dark button-slim nobottommargin pull-right" ng-click="CController.addComment()">Add Comment</button>
	</div>
</script>
